certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
Nuitka==2.2
ordered-set==4.1.0
PySide6==6.7.0
PySide6_Addons==6.7.0
PySide6_Essentials==6.7.0
requests==2.31.0
rtoml==0.10.0
shiboken6==6.7.0
simplejson==3.19.2
urllib3==2.2.1
zstandard==0.22.0
